:host {
    display: flex;
    width: 90%;
    gap: 2rem;
}

.nr-employee-list__item {
    display: flex;
    align-items: center;
    gap: .25rem;
    margin: .25rem 0;
}

.nr-employee-list__item-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    text-wrap: nowrap;
    width: 10rem;
    overflow-x: hidden;
}


.nr-employee-list__item-link {
    display: contents;
}

.nr-employee-list__flag-button {
    display: none;
    background: none;
}

.nr-employee-list__item--flagged .nr-employee-list__flag-button, .nr-employee-list__item:hover .nr-employee-list__flag-button {
    display: revert;
}

.nr-employees-list__item-avatar {
    border-radius: 25%;
}

.nr-employees-list__item-icon-svg {
    height: 1rem;
    fill: var(--accent);
}

.nr-employee-details {
    flex: 1 1 auto;
}
