:host {
    display: flex;
    width: 90%;
    gap: 2rem;
}

.sidebar {
    width: 22rem;
}

.nr-employee-list__item {
    display: flex;
    align-items: center;
    gap: .25rem;
    margin: .25rem 0;
}

.nr-employee-list__item-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    text-wrap: nowrap;
    width: 100%;
}

.nr-employee-list__item-link {
    display: contents;
}

.nr-employee-list__flag-button {
    background: none;
    color: var(--accent);
    white-space: nowrap;
}

.nr-employees-list__item-avatar {
    border-radius: 25%;
}

.nr-employees-list__item-icon-svg {
    height: 1rem;
    fill: var(--accent);
}

.nr-employee-details {
    flex: 1 1 auto;
}
